<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.wear_os_app">
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <!-- Ensure all necessary permissions are included -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <uses-permission android:name="android.permission.health.READ_HEART_RATE"/>
    <uses-permission android:name="android.permission.health.READ_SLEEP"/>

    <!-- Add the required services for Health Connect -->
    <service
        android:name="com.google.android.apps.fitness.service.FitnessService"
        android:permission="com.google.android.permission.BIND_FITNESS_SERVICE">
        <intent-filter>
            <action android:name="com.google.android.gms.fit.api.FITNESS_SERVICE"/>
        </intent-filter>
    </service>

    <application
        android:label="wear_os_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Meta data for health permissions -->
        <meta-data android:name="health_permissions" android:resource="@array/health_permissions"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"/>

            <!-- Intent filter for launching the app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Intent filter for showing permission rationale -->
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>